@using SocialNetworkMVC.Views.ViewsModels
@model SocialNetworkMVC.Views.ViewsModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="register">
    <h1>Впервые с нами?</h1> <!-- Заголовок -->
    <h2>Регистрация нового пользователя</h2> <!-- Подзаголовок -->
    <form method="get" asp-controller="Register" asp-action="RegisterPart2">
        <div class="input-field">
            <!-- Поле для имени -->
            <label asp-for="FirstName">Введите имя</label>
            <input asp-for="FirstName" type="text" required />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="input-field">
            <!-- Поле для фамилии -->
            <label asp-for="LastName">Введите фамилию</label>
            <input asp-for="LastName" type="text" required />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="input-field">
            <div class="mrgn center">
                <label asp-for="DateBirth"></label>
                <input asp-for="DateBirth" class="form-control date_control" type="date" />
                <span asp-validation-for="DateBirth" class="text-danger"></span>
            </div>
        </div>
        <div>
            <input type="submit" class="register" value="Продолжить регистрацию" />
        </div>
    </form>
